{% extends 'index.html' %}

{% block content %}
<script type="text/javascript">
function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#preview').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

</script>
<div class="py-5">
    <div class="container bg-light py-3 px-lg-5 py-lg-5">

      <form method="POST">

            <div class="row mb-3 py-2">
            {% for message in get_flashed_messages() %}
              <div class="col">
                <h6> {{ message }}</h6>
              </div>
            {% endfor %}
            </div>

            <div class="row mb-3 py-2">
                <div class="col text-left">
                    <h3>Fill in the asset information</h3>
                </div>
                <div class="col text-right">
                   <button class="btn btn-info" type="submit">Create</button>
                </div>
            </div>

            <hr/>

            <div class="row mb-3 py-2 text-muted">
                <div class="col text-left">
                    <h5>General</h5>
                </div>
            </div>

            <div class="row py-3 my-2">
                <div class="col-12 col-lg-8 offset-lg-2">

                     <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="asset_class">Asset Class</label>
                        </div>

                        <div class="col-md-5 mb-3">
                            <select name="asset_class" id="asset_class"
                                class="form-control">
                                <option value="2000">2000-Machinery</option>
                                <option value="3000">3000-Fixtures and fittings</option>
                                <option value="3100">3100-Vehicles</option>
                                <option value="4000">4000-Assets under Construction</option>
                                <option value="5000">5000-Low-value Assets</option>
                            </select>
                       </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="description">Description</label>
                        </div>
                        <div class="col-md-5 mb-3">
                          <input type="text" class="form-control" id="description"
                                name="description"
                                required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="picture">Picture</label>
                        </div>
                        <div class="col-md-5 mb-3">
                          <input type="file" id="picture" name="picture" accept="image/*" onchange="readURL(this);" required/>

                        </div>
                        <div class="col-md-4 mb-3">
                            <img class="card-img-top border" style="width: 100%;" id="preview" src="#" alt="your image" />
                        </div>
                    </div>

                </div>

            </div>

            <hr/>

            <div class="row mb-3 py-2 text-muted">
                <div class="col text-left">
                    <h5>Financial</h5>
                </div>
            </div>

            <div class="row py-3 my-2">
                <div class="col-12 col-lg-8 offset-lg-2">
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                          <label for="company_code">Company Code</label>
                        </div>

                         <div class="col-md-3 mb-3">
                           <input type="text" class="form-control" id="company_code"
                                    name="company_code" value="A001" maxlength="4" readonly>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                          <label for="cost_center">Cost Center</label>
                        </div>

                         <div class="col-md-3 mb-3">
                           <input type="text" class="form-control" id="cost_center"
                                    name="cost_center" value="CC_A001_01" maxlength="10" readonly>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                          <label for="acq_date">Acquisition Date</label>
                        </div>

                         <div class="col-md-3 mb-3">
                           <input type="date" class="form-control" id="acq_date"
                                  name="acq_date" value="" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                          <label for="amount">Amount</label>
                        </div>

                         <div class="col-md-3 mb-3">
                           <input type="number" step="0.01" class="form-control" id="amount"
                                  name="amount" value="0.00" min="0.00" maxlength="18" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="useful_life_y">UseLife (Year/Period)</label>
                        </div>
                        <div class="col-md-2 mb-3">
                          <input type="number" min="0" max="999" maxlength="3" class="form-control" name="useful_life_y" id="useful_life_y"
                                    value=""  required>
                        </div>
                        <div class="col-md-2 mb-3">
                          <select name="useful_life_m" id="useful_life_m" class="custom-select form-control">
                                <option value="0"></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                          </select>
                        </div>
                    </div>
                </div>
            </div>
      </form>
    </div>
</div>
{% endblock %}